body{
    background-color: #3d64e6;
   font-family: sans-serif;
}
.pannel{
background-color: #ffff;
width: 80vw;
max-width: 37.5em;
padding: 2em 2em;
justify-content: center;
align-items: center;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 0.62em;
box-shadow: 0 1.25em 1.8em rgba;
}
.warapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.35em;
}
.warapper button{
font-size: 1em;
background-color: #3d64e6;
color: #ffff;
border: none;
width: 120px;
padding: 0.5em;
cursor: pointer;
border-radius: 1.5em;
}
.warapper button:hover{
    background: none;
    color: black;
    border: 1px solid #3d64e6;
}
.warapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    outline: none;
    border-bottom:2px solid #3d64e6;
    color: black;
}

.pannel .flagimg{
    display: block;
    width: 45%;
    min-width: 7em;
    margin: 1.8em auto 1.8em auto ;

}
.pannel h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  
}
a{
    text-align: center;
}
.details{
 margin-bottom: 1em;
 letter-spacing: 0.3px;
}
.details h4{
    display: inline;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1em;
    
}
.details span{
    color: #222a43;
    letter-spacing: 1px;
}